*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.box{
  padding: 2vw;
  margin: 3vw;
  height: 85vh;
  background-color: rebeccapurple;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5vw;
}
.inputs{
  display: flex;
}
input{
  margin-left: 1vw;
  margin-right: 1vw;
  border: none;
  border-radius: 5px;
  height: 2.5vw;
  padding-left: 1vw;
}
.buttons{
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}
button{
  width: 17%;
  height: 2vw;
  font-size: 1.5vw;
  border: none;
  background-color: orangered;
  color: white;
  border-radius: 5px;
}